
.newcss {
    background-color: rgb(251, 183, 183);
    border-left: 4px solid #ff0000;
    padding-left: 5px;


}
ul {
    background-color: aqua;
    padding: 10px;
}
ul li {
    background-color: aquamarine;

}

.csspos {
    position: relative;
    background-color: red;
    padding: 10px;
}
.firstp {
    position:absolute;
    background-color: bisque;
    top: -10px
}